/* ===== Reset básico ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

/* ===== Corpo e fundo ===== */
body {
    background-color: #121212;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ===== Logo ===== */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 0.8;
}

.logo img {
    width: 100px;
    height: 100px;
}



/* ===== Caixa de login ===== */
.login-container {
    background-color: #2a2a2a;
    padding: 40px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.login-container h4{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* ===== Campos ===== */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ccc;
}

input {
    background-color: #1e1e1e;
    border: none;
    border-radius: 4px;
    height: 30px;
    color: #fff;
    padding: 0 10px;
    outline: none;
}

input:focus {
    border: 1px solid #3a3a3a;
}

/* ===== Botões ===== */
.btn {
    background-color: #111;
    color: #fff;
    border: none;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s;
}

.btn:hover {
    background-color: #1f1f1f;
}

.btn.secundario {
    background-color: #1a1a1a;
}

.btn.secundario:hover {
    background-color: #2c2c2c;
}

