<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
<div class="logo">
    <img src="/img/logo.png" alt="ToDaily logo" />

</div>

<div class="login-container">
    <h4>Insira o seu email para<br>criar uma nova senha</h4>
    <p th:if="${mensagem != null}" th:text="${mensagem}" style="color: lightgreen; text-align:center;"></p>
    <p th:if="${erro != null}" th:text="${erro}" style="color: red; text-align:center;"></p>

    <form action = "/login" method="post">

        <label for="login">Login:</label>
        <input type="text" id="login" name="email" required />

        <button type="submit" class="btn">Confirmar</button>
        <button type="button" class="btn secundario" onclick="window.location.href='/login'">Voltar</button>


    </form>
</div>
</body>
</html>
